{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
{% endblock css %}

{% block title %}Контакты — ШароФея{% endblock title %}

{% block content %}
<div class="main-section">

    <!-- ===== КОНТАКТЫ ===== -->
    <div class="wrapper">
        <h2>Наши контакты</h2>

        <p>
            Телефон:
            <a href="tel:+79255181722" class="telefon">+7-925-518-17-22</a>
        </p>
        <p>
            Эл.Почта:
        <a href="mailto:i@innasher.ru" class="email-link">i@innasher.ru</a>
        </p>
        <p>
            Самовывоз: МО, дер. Дальние Прудищи, ул. Ленина, дом 67, строение 1
        </p>

        <!-- КНОПКА TELEGRAM -->
        <a href="https://t.me/Inna17Sher" target="_blank" class="telegram-btn">
            Написать нам
        </a>
    </div>

    <!-- ===== ФОРМА ===== -->
    <section class="contact-form">
        <h2>Свяжитесь с нами</h2>

        <form id="tg-form">

            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" placeholder="Введите имя" required>

            <label for="phone">Телефон (необязательно):</label>
            <input type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Введите email" required>

            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" rows="5" placeholder="Ваше сообщение..." required></textarea>

            <button type="submit">Отправить</button>
        </form>
    </section>

</div>
{% endblock content %}

{% block js %}
<script src="{% static 'main/js/contacts.js' %}"></script>
{% endblock js %}
