{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock css %}

{% block title %}Главная — ШароФея{% endblock title %}

{% block content %}
<button class="show-all" data-filter="all">Показать все</button>

<section class="gallery">
    <h2 class="section-title" style="color:#dea69b;">Наши оформления</h2>

    <div class="gallery-grid">
        <a href="{% url 'goods:catalog' %}?category=for-girls" class="gallery-item" data-category="girls">
            <img src="{% static 'main/images/gallery/balloon-07.jpg' %}" alt="Девочкам">
            <span class="overlay-text">Для девочек</span>
        </a>

        <a href="{% url 'goods:catalog' %}?category=for-boys" class="gallery-item" data-category="boys">
            <img src="{% static 'main/images/gallery/balloon-09.jpg' %}" alt="Мальчикам">
            <span class="overlay-text">Для мальчиков</span>
        </a>

        <a href="{% url 'goods:catalog' %}?category=shary-po-vidam" class="gallery-item" data-category="balloons">
            <img src="{% static 'main/images/gallery/balloon-11.jpg' %}" alt="Шары по видам">
            <span class="overlay-text">Шары по видам</span>
        </a>

        <a href="{% url 'goods:catalog' %}?category=vypiska" class="gallery-item" data-category="extract">
            <img src="{% static 'main/images/gallery/balloon-08.jpg' %}" alt="Выписка">
            <span class="overlay-text">Выписка</span>
        </a>

        <a href="{% url 'goods:catalog' %}?category=photo-zones" class="gallery-item" data-category="photobooth">
            <img src="{% static 'main/images/gallery/balloon-10.jpg' %}" alt="Фотозоны">
            <span class="overlay-text">Фотозоны</span>
        </a>

        <a href="{% url 'goods:catalog' %}?category=prochee" class="gallery-item" data-category="other">
            <img src="{% static 'main/images/gallery/balloon-06.jpg' %}" alt="Прочее">
            <span class="overlay-text">Прочее</span>
        </a>
    </div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'main/js/index.js' %}"></script>
{% endblock js %}